@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  fieldset > h2 {
    @apply font-germania-one text-title pt-xs pb-2xs text-center underline-border;
  }

  .underline-border {
    @apply relative before:absolute before:bottom-0 before:w-full before:h-[2px]  before:bg-black before:left-1/2 before:transform before:-translate-x-1/2;
  }

  fieldset h3 {
    @apply text-step-1 py-xs text-center;
  }

  fieldset
    input:not(._payment_option_):not(._uniform_input_):not([type="checkbox"]) {
    @apply halfround-right bg-white text-foreground px-2xs w-full;
  }
  label:not(._option_) {
    @apply pt-s tracking-wide;
  }

  ._step_3_,
  ._step_4_ {
    label:not(._payment_option_) {
      @apply uppercase block;
    }
  }
  ._step_4_ div {
    @apply my-s;
  }
}

@layer components {
  .halfround-left {
    @apply bg-foreground  text-background py-2xs pr-s pl-l rounded-l-full  border-2 border-foreground text-nowrap;
  }

  .halfround-right {
    @apply bg-foreground  text-background py-2xs pl-s pr-l rounded-r-full  border-2 border-foreground text-nowrap text-normal;
  }

  .sharp {
    @apply bg-white w-fit px-xs py-3xs cursor-pointer shadow-[6px_5px_0px_1px_var(--blue-light)];
  }

  .menu-labels {
    @apply border-2 border-white border-r-0 hover:bg-lightblue active:bg-red;
  }

  .ticket-width {
    height: clamp(10.5625rem, 7.3234rem + 16.1957vw, 19.875rem);
  }

  .ticket-big-rotate {
    height: clamp(17.5rem, 12.1429rem + 26.7857vw, 25rem);
  }
  .ticket-big-text {
    width: clamp(23rem, 11.6102rem + 23.7288vw, 30rem);
  }

  .ticket-big-text-rotate {
    width: clamp(8.5rem, 6.5774rem + 9.6131vw, 13.625rem);
  }

  .ticket-big-text-rotate-mobile {
    width: clamp(12.5rem, 9.0658rem + 18.9474vw, 14.75rem);
  }

  .ticket-small {
    width: clamp(8.0625rem, 5.6712rem + 11.9565vw, 14.9375rem);
    height: clamp(10.5625rem, 7.3234rem + 16.1957vw, 19.875rem);
  }
  .ticket-small-rotate {
    height: clamp(17.5rem, 12.1429rem + 26.7857vw, 25rem);
  }
  .ticket-buy-button {
    width: clamp(6.125rem, 4.3207rem + 9.0217vw, 11.3125rem);
  }

  .card-width {
    width: clamp(19.5rem, 16.8043rem + 13.4783vw, 27.25rem);
  }

  .page-title {
    position: relative;
    z-index: 99;
    grid-column: main;
    color: white;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;

      width: 100%; /* Start as full width */
      grid-column: full; /* Span the entire grid */
      transform: scaleX(
        calc((var(--content) / 100%))
      ); /* Shrink background to match the "main" column */
      transform-origin: left; /* Anchor shrinking to the left */
      z-index: 0; /* Position below the title */

      @apply halfround-right py-s;
    }
  }
}

@layer utilities {
  .col-full {
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;
  }

  .col-main {
    grid-column: main;
  }

  .custom-check {
    @apply appearance-none cursor-pointer p-3  border-2 border-black bg-white checked:bg-black relative   max-w-fit transition-all;

    &::before:checked {
      @apply p-1 bg-white place-self-center content-[""] absolute top-2 left-2  bottom-2 rounded-sm transition-all;
    }
  }

  .custom-radio {
    @apply appearance-none cursor-pointer p-3 rounded-full border-2 border-black bg-white checked:bg-black relative   max-w-fit transition-all;

    &::before:checked {
      @apply p-1 bg-white place-self-center content-[""] absolute top-2 left-2  bottom-2 rounded-full transition-all;
    }
  }
}
