@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /***************  Colours  ************/
  --background: #e5e1d6;
  --foreground: #1f1a07;
  --blue-light: #1f7985;
  --blue-dark: #1f2c3c;
  --green: #42765c;
  --red: #ba1e2d;
  --yellow: #a79649;
  --white: #fffcf9;

  /***************  Spacing  ***************/
  /* Space 3xs-2xs: 5px → 10px */
  --space-3xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  /* Space 2xs-xs: 9px → 15px */
  --space-2xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  /* Space xs-s: 14px → 20px */
  --space-xs: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  /* Space s-m: 18px → 30px */
  --space-s: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  /* Space m-l: 27px → 40px */
  --space-m: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  /* Space l-xl: 36px → 60px */
  --space-l: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  /* Space xl-2xl: 54px → 80px */
  --space-xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  /* Space 2xl-3xl: 72px → 120px */
  --space-2xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /************** Fonts  **************/
  /* All ordinary texts, paragraphs, descriptions: 16px → 18px */
  --text: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);

  /* 18px → 20px */
  --step-1: clamp(1.25rem, 1.0761rem + 0.8696vw, 1.75rem);

  /* h3, h4, etc: 20px → 28px  */
  --step-2: clamp(1.728rem, 1.5072rem + 1.1042vw, 2.1973rem);

  /* sub headers, h2, etc: 24px → 32px */
  --step-3: clamp(1.5rem, 1.3261rem + 0.8696vw, 2rem);

  /* Ordinary title, h1: 32px → 42px */
  --title: clamp(2rem, 1.7826rem + 1.087vw, 2.625rem);

  /* Special occasions, hero title and top bands: 40px → 80px */
  --big-title: clamp(2.5rem, 1.6304rem + 4.3478vw, 5rem);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #e5e1d6;
    --background: #1f1a07;
  }
} */

body {
  --full: 1fr;
  --content: min(1240px, 100% - 2em * 2);
  color: var(--foreground);
  background: var(--background);

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns:
    [full-start] var(--full) [main] var(--content) var(--full)
    [full-end];

  height: 100svh;
  header,
  main,
  footer {
    grid-column: full;
    display: grid;
    grid: auto/subgrid;

    /* > * {
      grid-column: main; */

    /* + * {
      padding: 0 var(--space-s);
    } */
    /* } */
  }
  main > * {
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;
    height: fit-content;
  }

  header > *:not(.col-full),
  main > * > *:not(.col-full),
  footer > *:not(.col-full) {
    grid-column: main;
  }
}

@layer components {
  .halfround-left {
    @apply bg-foreground  text-background py-2xs pr-s pl-l rounded-l-full  border-2 border-foreground text-nowrap;
  }

  .halfround-right {
    @apply bg-foreground  text-background py-2xs pl-s pr-l rounded-r-full  border-2 border-foreground text-nowrap text-normal;
  }

  .sharp {
    @apply bg-white w-fit px-xs py-3xs cursor-pointer shadow-[6px_5px_0px_1px_var(--blue-light)];
  }
}

@layer utilities {
  .col-full {
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;
  }

  .col-main {
    grid-column: main;
  }

  .ticket-clip {
    clip-path: path(
      "M0.5 0.5H65.478L65.5042 1.97326C65.7563 16.114 77.2987 27.5 91.5 27.5C105.701 27.5 117.244 16.114 117.496 1.97326L117.522 0.5H312.478L312.504 1.97326C312.756 16.114 324.299 27.5 338.5 27.5C352.701 27.5 364.244 16.114 364.496 1.97326L364.522 0.5H406.5V215.5H364.469L364.496 213.973C364.497 213.892 364.498 213.811 364.499 213.729C364.5 213.653 364.5 213.577 364.5 213.5C364.5 199.141 352.859 187.5 338.5 187.5C324.141 187.5 312.5 199.141 312.5 213.5C312.5 213.658 312.501 213.816 312.504 213.973L312.531 215.5H108.469L108.496 213.973C108.499 213.816 108.5 213.658 108.5 213.5C108.5 199.141 96.8594 187.5 82.5 187.5C68.1406 187.5 56.5 199.141 56.5 213.5C56.5 213.658 56.5014 213.816 56.5042 213.973L56.5314 215.5H0.5V0.5ZM3.5 3.5V212.5H53.5169C54.044 196.947 66.8184 184.5 82.5 184.5C98.1816 184.5 110.956 196.947 111.483 212.5H309.517C310.044 196.947 322.818 184.5 338.5 184.5C354.182 184.5 366.956 196.947 367.483 212.5H403.5V3.5H367.432C366.404 18.5836 353.844 30.5 338.5 30.5C323.156 30.5 310.596 18.5836 309.568 3.5H120.432C119.404 18.5836 106.844 30.5 91.5 30.5C76.156 30.5 63.5955 18.5836 62.5679 3.5H3.5Z"
    );
    background-color: var(--foreground);
    aspect-ratio: 407/216;
  }
}
